body {
    height: 100vh;
    max-height: 100vh;
    overflow:hidden;
    /*flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background*/
    background-image: url("img/table.png");
    background-size: cover;
    background-attachment: fixed;
    /*typography*/
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.container {
    max-width: 980px;
    min-width: 300px;
    margin: 0 auto;
}


h1 {
    color: goldenrod;
}

#message {
    margin: 3rem 0;
}

#message-el {
    font-style: italic;
    font-size: 1.75rem;
}

button {
    width: 150px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    color: #016f32;
    background: goldenrod;
    font-weight: bold;
}

#dealer-table, #player-table {
    background: rgba(255, 255, 255, 0.25);
    padding: 16px;
    margin: 1rem 0;
}

.cards-table {
    font-size: 3rem;
    margin: 0px 0 10px;
}