body {
    max-height: 100vh;
    /*background*/
    background-image: url("img/table.png");
    background-size: cover;
    background-attachment: fixed;
    /*typography*/
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}


h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    font-size: 2rem;
}

button {
    width: 150px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    color: #016f32;
    background: goldenrod;
    font-weight: bold;
}


/* styles for expanding scope of game later */
/* #dealer-table, #player-table {
    background: rgba(255, 255, 255, 0.25);
    padding: 16px;
    margin: 3rem 0;
}

.cards-table {
    font-size: 3rem;
    margin: 0px 0 10px;
} */